      /* ~Global styles */
body{
   margin: 0;
   padding: 0;

   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;

   color: white;
   background-color: #131313;
   background-image: url(img/Стена.png);
   background-repeat: no-repeat;
   background-position: center 14px;
}



      /* !HEADER */
header{
   border-bottom: 1px solid #272727;
}

.container{
   width: 1160px;
   margin: auto;
   padding: 0 0 0 10px;
}

.nav-wrap{
   display: flex;
   align-items: center;
}

#main-logo{
   font-family: 'Caveat';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 38px;
   text-transform: uppercase;

   margin: 11px 0;
   margin-right: 30px;
   
   color: #1ACD4C;
}

.user-card-number{
   margin: 20px 0;
   position: relative;
}


/* vertical line */
.user-card-number::before{
   content: '';
   
   position: absolute;
   top: -3px;
   left: -13px;

   width: 1px;
   height: 26px;
   background-color: #272727;
}


.site-navigation{
   display: flex;
   flex-wrap: wrap;

   padding: 0;
   margin: 0;
   margin-left: auto;
}

.site-navigation li{
   list-style: none;
}

.site-navigation a{
   display: block;

   font-size: 13px;
   line-height: 16px;
   font-weight: 700;
   font-style: normal;
   text-transform: uppercase;

   color: white;
   text-decoration: none;

   padding: 22px 10px;

   /* animation */
   transition: 400ms ease-in-out
}

.site-navigation a:hover{
   background-color: rgb(214, 143, 143);

}

.site-navigation .current-page{
   color: #272727;
   text-decoration: line-through;
}

/* optional */
/*.site-navigation .current-page:hover{
   cursor: default;
   background-color: #131313;
}*/



      /* !MAIN */
h1{
   font-weight: 900;
   font-size: 30px;
   line-height: 37px;

   margin-top: 90px;
   margin-bottom: 30px;
}

table{
   width: 100%;
   border-collapse: collapse;

   margin-bottom: 26px;
}

thead th{
   padding-left: 20px;
   text-align: left;
   text-transform: uppercase;
   color: #727272;
}

tbody tr{
   background-color: #131313;
   border: 1px solid #272727;
}

tbody td{
   padding: 16px 20px;
}


.pagination-block{
   padding: 0;
   margin: 0;
   margin-bottom: 253px;
   
   display: flex;
   justify-content: center;
   list-style: none;
}

.pagination-list{
   padding: 0;
   margin: 0;

   display: flex;
   list-style: none;
}

.pagination-list a{
   color: inherit;
   text-decoration: inherit;
   text-align: center;

   display: block;
   padding: 7.5px 0;
   width: 44px;

   /* animation */
   transition: 400ms ease-in-out
}

.pagination-list a:hover{
   background-color: rgb(214, 143, 143);
}